@layout('layouts/main')

@section('title', 'Home Page')

@section('content')
  <h2>STREETWEAR VIBES</h2>
  <p>Find our best styled items.</p>
  <a href="/product" class="cta-button">Shop Now</a>
@endsection
